extends ../layouts/common.pug

block head
  link(rel='stylesheet', href='/css/listcart.css')
block content
  .container-fluid.list-cart

  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/js/listcart.js')

    
