extends ./layouts/common.pug
      
block head
  link(rel='stylesheet', href='/css/index.css')

block content
  header(style='| background: #ADA996; background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); ')
    .container.text-center
      h1 Welcome to ShopFace
    section#about
      .container
        .row
          .col-lg-8.mx-auto
            h2 About this page
            p.lead An online shopping site combined with social networking, the website will give you a new experience on the web world
    section#services(style='background: #C6FFDD; background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);')
      .container
        .row
          .col-lg-8.mx-auto
            h2 Services we offer
            ul.lead
              li Shopping Page
              li Social network
              li List Friend
              li List User
    section#contact
      .container
        .row
          .col-lg-8.mx-auto
            h2 Contact and support website feature development to my 
            ul.lead
              li Email: barrydevp@gmail.com or daominhhailaocai@gmail.com
              li
                a.btn.btn-link(href='https://www.facebook.com/profile.php?id=100009731830079') Facebook: Minh Hải

  script(src='https://unpkg.com/axios/dist/axios.min.js')
  //script(src='/js/index.js')
