body{
	background: #e9ebee;
	color: #1d2129;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

a.btn-link:hover {
	text-decoration: none;
}

a.btn-link:visited {
	text-decoration: none;
}

.col-md-3.left span {
	font-size: 13px;
	color: #1d2129;
}

.col-md-3.left i {
	font-size: 20px;
}

.col-md-3.left .active span {
	font-weight: 600;
}

li.listview {
	list-style: none;
	border: 1px solid transparent;
	margin-bottom: -4px;
}

li.listview.active a{
	background-color: #f5f6f7;
	border-color: rgba(0,0,0,.125);
	border-radius: .25rem;
}

li.listview:hover a{
	background-color: #f5f6f7;
	border-color: rgba(0,0,0,.125);
	border-radius: .25rem;
}

div.media {
	word-break: break-word;
}

div.form-control[readonly] {
	background-color: #f2f3f5;
	border-radius: 16px;
	border-color: #fff;
	font-size: 14px;
	height: 100%;
	flex-grow: 0;
}

textarea.form-control {
	border: 1px solid #ccd0d5;
	border-radius: 16px;
}

textarea.form-control:focus {
	box-shadow: none;
}

input.form-control:focus {
	box-shadow: none;
}

textarea.add-comment.form-control {
	font-size: 14px;
}

textarea.add-comment.form-control:focus {
	border: 1px solid #ccd0d5;
	box-shadow: none;
}

a.card-link {
	color: #385898;
}

a.card-link:hover {
	text-decoration: underline;
}

button.btn.btn-primary {
	background-color: #4267b2;
	color: #fff;
}

button.btn.btn-primary:hover {
	background-color: #365899;
	color: #fff;
}

div.card-header, div.card-footer {
	background-color: #fff;
}

div.card-header {
	padding: 12px 12px 10px 12px;
}

div.card-footer {
	padding: 2px 12px 4px 12px;
}

div.card-body {
	padding: 12px 12px 10px 12px;
}

.author-name {
	font-size: 15px;
}

.article-body {
	font-size: 15px;
}

.btn.btn-link {
	color: #385898;
}

.btn.btn-link:hover {
	color: #385898;
}

.form-inline {
   display: inline-block;
}

li.comment {
	padding-bottom: 0;
}

.navbar-header.col {
	padding: 0 !important;
}	
.navbar {		
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 10;
	padding-right: 10px;
	font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}

.navbar-form.form-inline {
	margin-bottom: 0px;
}
.search-box {
   position: relative;
}	
.search-box input {
	box-shadow: none;
  padding-right: 35px;
  border-radius: 3px !important;
}
.search-box .input-group-addon {
      min-width: 35px;
      border: none;
      background: transparent;
      position: absolute;
      right: 0;
      z-index: 9;
      padding: 7px;
	height: 100%;
  }
  .search-box i {
      color: #a0a5b1;
	font-size: 19px;
  }

img.avatar {
	width: 40px;
	height: 40px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
		color: #fff;
		background: #33cabb;
		padding-top: 8px;
		padding-bottom: 6px;
		vertical-align: middle;
		border: none;
	}	
	.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
		color: #fff;
		outline: none;
		background: #31bfb1;
	}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
	color: #333;
}	
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .badge {
	background: #f44336;
	font-size: 11px;
	border-radius: 20px;
	position: absolute;
	min-width: 10px;
	padding: 4px 6px 0;
	min-height: 18px;
	top: 5px;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
	position: relative;
	margin-right: 10px;
}
.navbar ul.nav li a.messages {
	margin-right: 20px;
}
.navbar a.notifications .badge {
	margin-left: -8px;
}
.navbar a.messages .badge {
	margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}
	.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
		background: transparent !important;
	}	
	.navbar .nav .get-started-btn {
		min-width: 120px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.navbar ul.nav li.open > a.get-started-btn {
		color: #fff;
		background: #31bfb1 !important;
	}
	.navbar .dropdown-menu {
		border-radius: 1px;
		border-color: #e5e5e5;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .nav .dropdown-menu li {
		color: #999;
		font-weight: normal;
	}
	.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
		padding: 8px 20px;
		line-height: normal;
	}
	.navbar .navbar-form {
		border: none;
	}
	.navbar .dropdown-menu.form-wrapper {
		width: 280px;
		padding: 20px;
		left: auto;
		right: 0;
        font-size: 14px;
	}
	.navbar .dropdown-menu.form-wrapper a {		
		color: #33cabb;
		padding: 0 !important;
	}
	.navbar .dropdown-menu.form-wrapper a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .hint-text {
		text-align: center;
		margin-bottom: 15px;
		font-size: 13px;
	}

	.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
		color: #fff;
        margin: 0;
		padding: 0 !important;
		font-size: 13px;
		border: none;
		transition: all 0.4s;
		text-align: center;
		line-height: 34px;
		width: 47%;
		text-decoration: none;
    }	
	.navbar .social-btn .btn-primary {
		background: #507cc0;
	}
	.navbar .social-btn .btn-primary:hover {
		background: #4676bd;
	}
	.navbar .social-btn .btn-info {
		background: #64ccf1;
	}
	.navbar .social-btn .btn-info:hover {
		background: #4ec7ef;
	}
	.navbar .social-btn .btn i {
		margin-right: 5px;
		font-size: 16px;
		position: relative;
		top: 2px;
	}
	.navbar .form-wrapper .form-footer {
		text-align: center;
		padding-top: 10px;
		font-size: 13px;
	}
	.navbar .form-wrapper .form-footer a:hover{
		text-decoration: underline;
	}
	.navbar .form-wrapper .checkbox-inline input {
		margin-top: 3px;
	}
.or-seperator {
        margin-top: 32px;
		text-align: center;
		border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
		color: #666;
        padding: 0 8px;
		width: 30px;
		height: 30px;
		font-size: 13px;
		text-align: center;
		line-height: 26px;
		background: #fff;
		display: inline-block;
		border: 1px solid #e0e0e0;
		border-radius: 50%;
		position: relative;
		top: -15px;
		z-index: 1;
    }
    .navbar .checkbox-inline {
		font-size: 13px;
	}
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
	.article .card-footer .btn {
		margin: 8px 0px 8px 0px;
	}
}
@media (max-width: 1199px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
	}
	.input-group {
		width: 100%;
	}
	
}

@media (max-width: 767px){
	.row .left {
		display: none;
	}
	.row .right {
		display: none;
	}
	.article .card-footer .btn {
		font-size: 13px;
		margin: 0;
	}
}

