form(action='/register/new', method='POST', enctype='multipart/form-data')
      .form-group
        label(for='username') User name
        input#username.form-control(name='username', type='text', aria-describedby='userHelp', placeholder='Enter username', )
        small#userHelp.form-text.text-muted Need to login.
      .form-group
        label(for='email') Email address
        input#email.form-control(name='email', type='email', aria-describedby='emailHelp', placeholder='Enter email')
        small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
      .form-group
        label(for='birthday') Birthday
        input#birthday.form-control(name='birthday', type='date')
      .form-group
        label(for='birthday') Gender
        br
        input(type='radio', name='gender', value='male', checked)
        span Male
        br
        input(type='radio', name='gender', value='female')
        span Female
        br
        input(type='radio', name='gender', value='other')
        span Other
      .form-group
        label(for='password') Password
        input#password.form-control(name='password', type='password', placeholder='Password', )
      .form-group
        label(for='username') Full name
        input#username.form-control(name='fullname', type='text', aria-describedby='userHelp', placeholder='Enter fullname', )    
      .form-group
        label(for='avatar') Avatar
        .custom-file
          input#avatar.form-control(type='file', name='avatar')
          label.custom-file-label(for='avatar') Choose file
      input.btn.btn-primary(type='submit', value='Submit') 