link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
// CB-modal
// Button trigger modal
// Button trigger modal
button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal')
  | Launch demo modal
// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
// JS code
script(src='https://code.jquery.com/jquery-3.1.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
// JS below
// modal
script.
  $(document).ready(function() {
  $("#myModal").modal();
  });
